@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slideimg {
  width: 300px;
}

.contentboxwrapper {
  width: 100%;
  margin: auto;
}

.course-select-container {
  max-width: 900px;
}

.contentboxtop {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  background-color: #8B0000;
  border: #8B0000 solid 1px;
  border-bottom-style: none;
}

.contentbox {
  background-color: white;
  margin-top: 50px;
  padding: 0px;
  margin: auto;
  border: #395066 solid 1px;
  border-top: #8B0000 solid 1px;
}

.maincolumn {
  border-style: solid none solid none;
  margin: auto;
  background-color: white;
  border: black 1px;
  width: 800px;
  height: 100%;
  padding: 20px 50px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

nav {
  height: 50px;
  background-color: #333;
  margin: 0;
  padding: 0;
}

nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
  float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a.active {
    background-color: #0E223C;
    color: white;
}

nav li a:hover:not(.active) {
    background-color: white;
    color: black;
}

nav .logo {
  margin-top: 8px;
  margin-left: 8px;
  height: 30px;
}

#boxsizehometop {
  height: 60px;
  width: 100%;;
}

#boxsizehome {
  width: 600px;
  height: 350px;
}

#boxsizevideotop {
  height: 60px;
  width: 100%;;
}

#boxsizevideo {
  height: 1000px;
  width: 1600px;
}

#centercontent {
  width: 170px;
  margin: auto;
  margin-top: 50px;
}

#videobox {
  margin: auto;
  margin-top: 100px;
  background: black;
  width: 1280px;
  height: 720px;
}

#videocontrols {
  margin: auto;
  width: 410px;
  text-align: center;
}
