{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <title>99point9</title>
    <meta content="width=device-width, initial-scale=1,
      maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="http://138.197.154.10/media/favicon.ico"/>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <div id="root">{% render_bundle 'main' %}</div>
</body>
</html>
